<header class="my-header">
    <div class="topbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8 text-sm">
                    <div class="site-info">
                        <a href="javascript:void(0);">
                            <span class="mai-call text-primary"></span> +91 8396943445
                        </a>
                        <span class="divider">|</span>
                        <a href="javascript:void(0);">
                            <span class="mai-mail text-primary"></span> info.cheapcafe@gmail.com
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 text-right text-sm">
                    <div class="social-mini-button">
                        <a href="javascript:void(0);"><span class="mai-logo-facebook-f"></span></a>
                        <a href="javascript:void(0);"><span class="mai-logo-twitter"></span></a>
                        <a href="javascript:void(0);"><span class="mai-logo-google"></span></a>
                        <a href="javascript:void(0);"><span class="mai-logo-instagram"></span></a>
                        <a href="javascript:void(0);"><span class="mai-logo-linkedin"></span></a>
                        <a href="javascript:void(0);"><span class="mai-logo-youtube"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand" [routerLink]="['/']">
                <span class="text-primary">Cheap</span>Cafe
            </a>

            <!-- Toggle button for mobile view -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupport" aria-controls="navbarSupport" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupport">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['/']">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/about']">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/services']">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/contact']">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="btn btn-success ml-lg-3" [routerLink]="['/login']">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary ml-lg-3" [routerLink]="['/register']">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
