<div class="page-banner overlay-dark bg-image" style="background-image: url('assets/img/bg_image_1.jpg');">
    <div class="banner-section">
      <div class="container text-center wow fadeInUp">
        <nav aria-label="Breadcrumb">
          <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contact</li>
          </ol>
        </nav>
        <h1 class="font-weight-normal">Contact</h1>
      </div>
    </div>
  </div>
  
  <div class="page-section">
    <div class="container">
      <h1 class="text-center wow fadeInUp">Get in Touch</h1>
      <form (ngSubmit)="onSubmit()" #contactForm="ngForm" class="contact-form mt-5">
        <div class="row mb-3">
          <div class="col-sm-6 py-2 wow fadeInLeft">
            <label for="fullName">Name</label>
            <input
              type="text"
              name="fullName"
              [(ngModel)]="fullName"
              placeholder="Enter Name"
              class="form-control"
              required
            />
          </div>
          <div class="col-sm-6 py-2 wow fadeInRight">
            <label for="emailAddress">Email</label>
            <input
              type="email"
              name="emailAddress"
              [(ngModel)]="emailAddress"
              placeholder="Enter Email"
              class="form-control"
              required
            />
          </div>
          <div class="col-12 py-2 wow fadeInUp">
            <label for="subject">Subject</label>
            <input
              type="text"
              name="subject"
              [(ngModel)]="subject"
              placeholder="Enter Subject"
              class="form-control"
              required
            />
          </div>
          <div class="col-12 py-2 wow fadeInUp">
            <label for="message">Message</label>
            <textarea
              name="message"
              [(ngModel)]="message"
              placeholder="Enter Message"
              class="form-control"
              rows="5"
              required
            ></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary wow zoomIn" [disabled]="!contactForm.valid">Send Message</button>
      </form>
    </div>
  </div>
  <hr />